{% extends 'App_Admin/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12  m-0 m-auto">
    {%for message in messages %}
        {%if "profile_delete" in message.tags %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                {{ message }}
            </div>
        {% endif %}
    {% endfor %}
</div>
<div class="container">
          <div class="row mb-3">
          <div class="col-lg-12">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Profile Table</h6>
                  <a href="{% url 'App_Admin:profile_add' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Add</a>
                </div>
                <div class="table-responsive p-3">
                  <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                    <thead class="thead-light">
                      <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Editor</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>City</th>
                        <th>Action</th>
                      </tr>

                    </thead>
                    <tbody>
                    {% for g in profile_list %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ g.user }}</td>
                        {% if g.is_author == True %}
                          <td><i class="fas fa-user-check text-success"></i></td>
                        {% else %}
                         <td><i class="fas fa-user-times text-danger"></i></td>
                        {% endif %}
                        {% if g.is_editor == True %}
                          <td><i class="fas fa-user-check text-success"></i></td>
                        {% else %}
                         <td><i class="fas fa-user-times text-danger"></i></td>
                        {% endif %}
                        {% if g.country != "" %}
                          <td>{{ g.country }}</td>
                        {% else %}
                         <td><i class="fas fa-times text-danger"></i></td>
                        {% endif %}
                       {% if g.phone != "" %}
                          <td>{{ g.phone }}</td>
                        {% else %}
                         <td><i class="fas fa-times text-danger"></i></td>
                        {% endif %}
                         {% if g.city != "" %}
                          <td>{{ g.city }}</td>
                        {% else %}
                         <td><i class="fas fa-times text-danger"></i></td>
                        {% endif %}
                        <td>
                          <button style="border: none;background: no-repeat;outline: none;" data-toggle="modal" value="{{ g.id }}" data-target="#profile_delete">
                                <i class="fa fa-trash text-danger"></i></button>
                            <a href="{% url 'App_Admin:profile_update' g.id %}"><i class="text-primary fas fa-fw fa-edit" style="color: #801d3b;"></i></a>
                        </td>
                      </tr>
                     {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    $("button").click(function() {
    var fired_button = $(this).val();
    document.getElementById("profile_id").value = fired_button;

});
</script>
<div class="modal fade" id="profile_delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form  action="{% url 'App_Admin:profile_delete' %}" method="post">{% csrf_token %}
                    <h3 class="text-center text-danger">Delete Profile</h3><br>
                    <p class="text-center text-success">Are you sure you want to delete this profile?</p>
                    <input name="profile_id" id="profile_id" value="" type="hidden">
                    <div class="clearfix text-center">
                        <button type="button" data-dismiss="modal" class="cancelbtn btn btn-success">Cancel</button>
                        <button type="submit" class="deletebtn btn btn-danger">Delete</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}