
{% if request.user.is_authenticated %}
<form method="post" class="news-like col-md-6 col-sm-4">{% csrf_token %}
        {% if is_liked  %}
         <button type="submit" class="position-relative" style="background: green;color:#fff;border-radius: 10px;" id="newslike_id" name="news_id" value="{{ single_post.id }}"><i class="fas fa-thumbs-up"></i> Liked
             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">{{ single_post.like_count }}</span>
         </button>
        {% else %}
         <button type="submit" class="position-relative" style="border-radius: 10px;color: #fff;" id="newslike_id" name="news_id" value="{{ single_post.id }}"><i class="fas fa-thumbs-up"></i> Like
             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">{{ single_post.like_count }}</span>
         </button>
        {% endif %}

 </form>
{% else %}
 <button style="border-radius: 10px;color: #fff;"onclick="likealert();">
     <i class="fas fa-thumbs-up"></i> Like
             <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">{{ single_post.like_count }}</span>
         </button>
{% endif %}



<script>
  function likealert() {
       if (confirm("Login to make a Like"))
        {
            window.location.href = "{% url 'App_Account:login' %}";
        }
   }
</script>



