{% extends 'App_News/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section class="">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="col-lg-12">
                {%for message in messages %}
                    {%if "login_error" in message.tags %}
                    <div class="alert alert-danger d-flex align-items-center" role="alert">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </svg>
                      <div>
                       {{ message }}
                      </div>
                    </div>
                    {% endif %}
                 {% endfor %}
    </div>
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <form method="post" action="{% url 'App_Account:login' %}">{% csrf_token %}
          <div class="card-body p-5 text-center">
              <img class="img-responsive" src="{% static 'logo.png' %}"><br><br>
            <h3 class="border-bottom py-2 " style="text-align: left;">Sign in</h3>
            <div class="form-outline mb-4" style="text-align: left;">
              <label class="form-label text-left">Username</label>
              <input type="text" name="username_field" class="form-control form-control-lg" />
            </div>

            <div class="form-outline mb-4"style="text-align: left;">
               <label class="form-label">Password</label>
               <input type="password"  name="password_field" class="form-control form-control-lg" />
            </div>
            <button class="btn col-md-6 text-light btn-lg btn-block" style="background: #be1e2d;" type="submit">Login</button>
            <p class="my-4">Don't have Account <a href="{% url 'App_Account:signup' %}" style="text-decoration: none;">Signup</a></p>
          </div>
            </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
